<nav>
  <h2>Sumário</h2>
  <ul>
    <li><a href="/docs/module-1/">Módulo 1: Conceitos Básicos</a></li>
    <li><a href="/docs/module-2/">Módulo 2: OpenTelemetry</a></li>
    <li><a href="/docs/module-3/">Módulo 3 - Instrumentação Sem Código</a></li>
    <li><a href="/docs/module-4/">Módulo 4 - Instrumentação Manual</a></li>
    <li><a href="/docs/module-5/">Módulo 5 - Criando Métricas</a></li>
    <li><a href="/docs/module-6/">Módulo 6 - Instrumentando Logs</a></li>
    <li><a href="/docs/module-7/">Módulo 7 - OpenTelemetry Collector</a></li>
  </ul>
</nav>
